{% extends 'blogs/base.html' %}
{% block content %}

{% for post in post_list %}


    <div class="stageceneter">
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk%}">{{post.title}}</a></h1>
        </div>
        {% if post.publish_date %}
            <div class="date">
                <p>Published on :{{post.publish_date}}</p>
                <p>Posted by : {{post.author}}</p>
            </div>
        {% else %}
            <div class="date">
                <p>Not yet published</p>
            </div>
        {%endif%}
            <a href="{% url 'post_detail' pk=post.pk %}">Comments : {{post.approved_comments.count }}</a>
    </div>  
{%endfor%}
{% endblock %}