{% extends 'blogs/base.html' %}
{% block content %}

{% for post in post_list  %}
    
    {% if user.pk == post.author.pk or user.is_superuser%}
    <div class="card" style="width: auto;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p>Created date : {{post.create_date|date:'d-m-Y'}}</p>
                {% if user.is_superuser%}
                <p>Created by : {{post.author}}</p>
                {%endif%}
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
                </li>
        </ul>
    </div>
    {%endif%}
    

    
{% endfor %}
    
{% endblock %}